@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", "Helvetica Neue";
  color: #ffffff;
  line-height: 1.6;
  background-color: #1f1f1f;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: #1a1a1a;
  color: #ffffff;
  height: 70px;
  transition: color 500ms;
}

.navbar:hover {
  color: #6dffaf;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #ffffff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #ffffff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1a1a1a;
  color: white;
}

.footer .credits {
  text-align: left;
  margin-left: auto;
  font-size: 14px;
  padding: 4px 10px;
  color: #6dffaf;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase-text {
  text-align: center;
  margin: 200px 0px;
}

.btn-outlined {
  color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
  margin: 5px auto;
  display: inline-block;
}

.btn-list {
  align-items: center;
}

.btn-outlined:hover {
  border-color: #6dffaf;
  color: #6dffaf;
}

.scripts-list {
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

.script-box {
  color: #ffffff;
  margin: 60px auto;
  text-align: center;
}

.script-box .script-title {
  color: #ffffff;
  margin: 0 0px;
  text-align: center;
}

.script-box .script-info {
  color: #ffffff;
  margin: 2px 0px;
  text-align: center;
}

.script-box .script-embed {
  background-color: #111111;
  color: #6dffaf;
  stroke: #ffffff;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  padding: 3px 5px;
  justify-content: center;
  width: auto;
  overflow-wrap: break-word;
  overflow: auto;
}

.hyperlink {
  color: #6dffaf;
  text-decoration: underline;
}

hr {
  width: 10%;
  color: #ffffff;
  text-align: center;
  margin: 10px auto;
}
